.footer {
    font-family: Montserrat;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 140px;
    // padding: 0rem 9%;
    border-top:1px solid rgba(31, 32, 65, 0.25);
    position: relative;

    @media (max-width: 1100px) {
        padding: 0 60px;
	}
}

.border-footer-bottom   {
    border-top:1px solid rgba(31, 32, 65, 0.25);
    padding: 0 140px;

    @media (max-width: 1100px) {
        padding: 0 60px;
	}
}

.nav-footer {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
    box-sizing: border-box;

    @media (max-width: 1100px) {
        padding: 30px 0;
	}

    @media (max-width: 990px) {
        align-items: center;
       }
    // box-shadow: 1px 1px 1px rgba(31, 32, 65, 0.1);
        // &::after {
        //     z-index: 3;
        //     position: absolute;
        //     content: "";
        //     top:0;
        //     left: 0;
        //     max-width: 1440px;
        //     height: 1px;
        //     background-color:rgba(31, 32, 65, 0.25) ;
        // }
        // &::before {
        //     z-index: 3;
        //     position: absolute;
        //     content: "";
        //     top:0;
        //     left: 0;
        //     max-width: 1440px;
        //     height: 1px;
        //     background-color:rgba(31, 32, 65, 0.25) ;
        // }

}

.nav-footer li:not(:last-child) {
  margin-bottom: 20px;

  @media (max-width: 990px) {
    margin-bottom: 0px;
   }
}
    
.bold-nav-footer-subscription {
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color:  black;
    font-size: 12px;
    line-height: 15px;

    @media (max-width: 990px) {
       margin-bottom: 0px;
      }
}

.logo-footer {
padding-left: 0px;
flex-shrink: 0;
@media (max-width: 990px) {
    margin-bottom: 5px;
   }
}

.logo-footer img {
    margin-bottom: 20px;

    @media (max-width: 990px) {
        margin-bottom: 0px;
       }
}

.navigation-footer {
    display: flex;
    flex-direction: column;
padding-left: 5px;

// white-space:nowrap
}

.about-us {
    display: flex;
    flex-direction: column;
padding-left: 7px;
// white-space:nowrap
}

.support-service {
    flex-direction: column;
    display: flex;
padding-left: 7px;
// white-space:nowrap
}

.subscription {
    flex-direction: column;
    display: flex;
padding-left: 5px;
}

.logo-footer p {
    font-size: 14px;
    line-height: 24px;
    @media (max-width: 990px) {
        display: none;
        // position: fixed;
        // left:-100%;
        // opacity: 0;
      }
}

.bold-nav-footer {
    font-weight: 700;
    text-transform: uppercase;
    color:  black;
    font-size: 12px;
    line-height: 15px;

    @media (max-width: 990px) {
        margin-bottom: 0px;
       }
}

.color-monserat {
    color: rgba(31, 32, 65, 0.5);
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
    // @media (max-width: 990px) {
    //     display: none;
    //     // position: fixed;
    //     // left:-100%;
    //     // opacity: 0;
    //   }
}

.color-monserat-p {
    color: rgba(31, 32, 65, 0.5);
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
}

.logo-footer p {
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
    font-weight: 400;
}

.subscription p {
    line-height: 24px;
}

.email {
    width: 260px;
    height: 44px;
    font-size: 14px;
    line-height: 24px;
    color:rgba(31, 32, 65, 0.5);
    font-family:Montserrat;
    padding-left: 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    
}

.subscription-margin {
    margin-bottom: 20px;
    position: relative;

    @media (max-width: 990px) {
        display: none;
        // position: fixed;
        // left:-100%;
        // opacity: 0;
      }
}

.subscription-margin-active {
    display: block;
    margin-top: 5px;
    position: relative;
    margin-bottom: 0;
}

.arrow-forward {
    position: absolute;
    right: 20px;
    top:13px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.socialnetwork {
    display: flex;
    justify-content: space-between;
    padding:23px 0;
}

.footer-bottom a {
margin-right: 20px;
}

.footer-bottom a:last-child {
    margin-right: 0px;
}

.footer-bottom p {
    margin:26px 0;
}


.first-link {
     @media (max-width: 990px) {
        display: none;
        // position: fixed;
        // left:-100%;
        // opacity: 0;
      }
}

.second-link {
    @media (max-width: 990px) {
        display: none;
        // position: fixed;
        // left:-100%;
        // opacity: 0;
      }
}

.third-link {
    @media (max-width: 990px) {
        display: none;
        // position: fixed;
        // left:-100%;
        // opacity: 0;
      }
}

.link-active {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}