.header {
    height: 70px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    font-family: Montserrat;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    background-color: white;
    // padding: 0rem 9%;
    padding: 0 140px;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

	@media (max-width: 1100px) {
        padding: 0 60px;
	}

  @media (max-width: 900px) {
    padding: 0 30px;
}

}

li {
    list-style-type: none;
}

.navigation {
    display: flex;
    width: 446px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 990px) {
        // display: none;
        position: fixed;
        left:-100%;
        opacity: 0;
      }
}

.buttons {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      display: none;
  }
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
}

.class-link {
    // margin-right: 20px;
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
}

.dropdown {
    position: relative;
    margin-right: 40px;

    @media (max-width: 990px) {
      margin-right: 0px;

  }  

    &::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-bottom: 2px solid rgba(31, 32, 65, 0.5);
        border-left: 2px solid rgba(31, 32, 65, 0.5);
        transform: rotate(315deg);
        right: -17px;
        top: 3px;
        
    }
}

.vector {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 12.5px;
}

.to-come-in {
    background-color: white;
    color: #BC9CFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 22px;
    border: 2px solid #BC9CFF;
    width: 87px;
    height: 34px;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

.register {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 22px;
    width: 196px;
    height: 34px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.5;
}

.toxin {
    margin: 28px 0;
}

.buttons a:first-child {
    margin-right: 20px;
}


.container-burger {
    display: none;
}

@media (max-width: 990px) {
.container-burger {
  display: inline-block;
  cursor: pointer;
  top: 50%;
  left: 50%;
  z-index: 12;
  
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;

  @media (max-width: 500px) {
      width: 25px;
      height: 2px;

  }  
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-6px, 5px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-6px, -6px) ;
}
}

.navigation-active {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 100%;
    margin-top: -35px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    z-index: 10;
    align-items: center;
    text-align: center;
    padding: 20px;
    opacity: 1;
    border: 3px solid #BC9CFF;
    border-radius: 10px;
//     box-shadow:
// -15px -15px 2px -5px #f0f0f0,
// -15px 15px 2px -5px #bc9cff,
// 15px -15px 2px -5px #bc9cff,
// 15px 15px 2px -5px #bc9cff;

  li {
    margin-bottom: 25px;
  }

    a {
      color: black;
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 16px;
    }
}
