@import "../components/header.scss";
@import "../components/footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    margin:0px;
    padding: 0px;
}

p {
    margin: 0px;
}

.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.content {
    background-image: url(../../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 830px;
    margin: 0 auto;
}

.number-selection {
    width: 380px;
    height: 380px;
    background-color: white;
    margin-top: 70px;
    margin-left: 140px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 40px 30px 30px 30px;
    box-sizing: border-box;
}

.caption {
    margin-right: 134px;
    text-align: right;
    margin-top: 320px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.arrival-departure {
    width: 150px;
    height: 44px;
    border:1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Montserrat;
    padding: 8px 0px 8px 15px;
    margin-top: 5px;

    &-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.number-selection p {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
    margin-bottom: 21px;
    font-family: Montserrat;
}

.dropdown-calendar {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;

    &::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-bottom: 2px solid rgba(31, 32, 65, 0.5);
        border-left: 2px solid rgba(31, 32, 65, 0.5);
        transform: rotate(315deg);
        right: 15px;
        top: 37px;
        
    }
}
.dropdown-calendar:first-child {
    margin-right: 20px;
}

.guests {
    position: relative;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;

    &::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-bottom: 2px solid rgba(31, 32, 65, 0.5);
        border-left: 2px solid rgba(31, 32, 65, 0.5);
        transform: rotate(315deg);
        right: 15px;
        top: 37px;
        
    }
    &-input {
        width: 320px;
        height: 44px;
        border:1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Montserrat;
        padding: 13px 193px 13px 15px;
        margin-top: 5px;
    }
}

.selection {
    background-color: #BC9CFF;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 22px;
    width: 320px;
    height: 44px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    margin-top:31px;
    letter-spacing: 1;
    position: relative;
    
    &::after {
    position: absolute;
    content: url('../../img/arrow_forward_white.svg');
    width: 44px;
    height: 44px;
    transform: rotate(360deg);
    right: 0;
    top: 13px;
    cursor: pointer;
    }
}