@import "../components/header.scss";
@import "../components/footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}
$grey-1:linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$grey-50: rgba(31, 32, 65, .5);
$grey-25: rgba(31, 32, 65, .25);

.image-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    width: 1440px;
}

.information-container {
    padding: 70px 140px 0px 140px;
}

.comfort {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: min-content;
padding-bottom: 17px;
border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.convenience-location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: min-content;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.cosiness {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: min-content;
}

.intelligence-impression-container {
    display: flex;
}

.vote {
    display: flex;
}

.rating-ul {
    text-align: left;
}

.number-vote {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    border-top-color: #FFE39C;
    border-left-color:#FFE39C;
    border-right-color:#BC9CFF;
    border-bottom-color:#6FCF97;
    transform: rotate(316deg);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        top:14px;
        left:102px;
        width: 4px;
        height: 4px;
        background-color: white;
        transform:rotate(316deg);
    }
    &::before {
        position: absolute;
        content: "";
        top:103px;
        left:14px;
        width: 4px;
        height: 4px;
        background-color: white;
        transform:rotate(316deg);
    }
}
.pseudo-element {
    position: absolute;
    top:104px;
    left:100px;
    width: 4px;
    height: 4px;
    background-color: white;
    transform:rotate(316deg);
}

.number {
    position: absolute;
    top:41px;
    left:46px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BC9CFF;
    transform:rotate(44deg);
}

.voice {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top:64px;
    left:19px;
    transform:rotate(44deg);
    color: #BC9CFF;
}
// .fabulous {
//     display: block;
//     width: 120px;
//     height: 120px;
//     border-radius: 50%;
//     border:4px solid #FFE39C;
//     position: relative;
//    z-index: 1;

// }

// .satisfactorily {
//     display: block;
//     width: 120px;
//     height: 120px;
//     border-radius: 50%;
//     border-right-color:4px solid #BC9CFF;
//     position: absolute;
//     right:0px;
//     top:0px;
//   z-index: 3;
// }