@import "../components/header.scss";
@import "../components/footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

button {
    padding: 0;
    border: none;
     font: inherit;
    color: inherit;
    background-color: transparent;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

$grey-50: rgba(31, 32, 65, .5);
$grey-25: rgba(31, 32, 65, .25);

@mixin arrow {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-bottom: 2px solid $grey-50;
    border-left: 2px solid $grey-50;
    transform: rotate(315deg);
    right: 15px;
    top: 37px;
    cursor: pointer;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 140px 70px;
    box-sizing: border-box;
    font-family: Montserrat;
}

.button-menu {
    width: 270px;
    height: 800px;
    margin-right: 60px;
    color:$grey-50;
}
.selection-numbers {
    width: 100%;
    background-color:gray; 
}

.date-guests {
    width: 266px;
    height: 44px;
    border: 1px solid $grey-25;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 15px;
}

.arrow-date-guests {
    position: relative;
    margin-top: 30px;
        &::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-bottom: 2px solid $grey-50;
        border-left: 2px solid $grey-50;
        transform: rotate(315deg);
        left: 240px;
        top: 37px;
        cursor: pointer;
        }
}

.checkbox {
    margin-top: 30px;
}

.one-may {
    font-size: 14px;
    line-height: 18px;
    color: $grey-50;
}

.checkbox-container {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    &:first-child {
        margin-top: 17px;}
}

.checkbox-passive {
    width: 20px;
    height: 20px;
    border: 1px solid $grey-25;
    border-radius: 4px; 
    display: inline-block;
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox-active {
    border: 1px solid #BC9CFF;
    &::after {
        position: absolute;
        top: 3px;
        left: 5px;
        content: '';
        width: 5px;
        height: 7px;
        border-bottom: 2px solid #BC9CFF;
        border-right: 2px solid #BC9CFF;
        transform: rotate(40deg);
    }
}

.availability-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.big-margin {
    margin-bottom: 30px;
}

.more-comfort {
    position: relative;
    cursor: pointer;
    &::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-bottom: 2px solid $grey-50;
        border-left: 2px solid $grey-50;
        transform: rotate(315deg);
        right: 15px;
        top: 2px;
        cursor: pointer;
    }
}

.active {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-bottom: 2px solid $grey-50;
    border-left: 2px solid $grey-50;
    transform: rotate(135deg);
    right: 15px;
    top: 2px;
    cursor: pointer;
}


.title-text {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 16px;
}

.date-stay {
    margin-bottom: 20px;
}

.arrow-comfort {
    position: relative;
        &::after {
        @include arrow();
        }
}

.number-guests {
    margin-bottom: 30px;
}

.price-range {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 14px;
    margin-top:13px;
}

.explanation{
    font-size: 12px;
    line-height: 14px;
    font-weight:400;
    color:$grey-50;
    margin-left: 30px;
}

.caption-checkbox {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
}

.dropdown-checkbox {
    display: none;
     
    &-show {
        display: block;
    }
}
