@import "../components/header.scss";
@import "../components/footer.scss";
@import "../../components//checkbox/checkbox.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

button {
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

$grey-50: rgba(31, 32, 65, .5);
$grey-25: rgba(31, 32, 65, .25);

.content {
    background-image: url(../../img/signUp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 830px;
    padding-top: 19px;
    display: flex;
    font-family: Montserrat;
}

.account-registration {
    width: 380px;
    height: 646px;
    margin: 0 auto;
    padding: 40px 30px 30px 30px;
    background-color: white;
    border-radius: 4px;
    display: block;
    align-items: center;
    box-sizing: border-box;
}

.name {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.email-password {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.account-registration-input {
    width: 320px;
    height: 44px;
    border: 1px solid $grey-25;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    color: $grey-25;
    padding-left: 13px;
     &:first-child {
        margin-bottom: 10px;
     }
}

.special-offer {
    text-align: left;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.register-container {
    text-align: center;
    margin-top: 24px;
}

.come-in-container {
    text-align: right;
}
.gender {
    font-size: 14px;
    line-height: 24px;
    color: $grey-50;
    margin-bottom: 20px;
}

.men {
    margin-right: 20px;
}

.input-radio {
    width: 20px;
    height: 20px;
    border: 1px solid $grey-25;
    box-sizing: border-box;
    border-radius: 10px;
    background-color:red;
}

.header-label {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.date-of-birth .account-registration-input {
    margin-top: 5px;
    margin-bottom: 0px;
}

.email-password .account-registration-input:first-child {
    margin-top: 5px;
}

.container-radio {
    margin-right: 10px;
    width: 40px;
    height: 20px;
    border: 1px solid $grey-25;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3px 24px 4px 4px;
    position: relative;
    cursor: pointer;
}

.radio {
    width: 12px;
    height: 12px;
    background-color: $grey-25;
    border-radius: 10px;
    position: absolute;
    
    &-active{
        border:1px solid #BC9CFF;
        left: 22px;
        box-sizing: border-box;
        background-color:#BC9CFF;
    }
        
}

.register-button {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 22px;
    width: 320px;
    height: 44px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.5;
    margin-bottom: 30px;
}

.to-come-in-button {
    background-color: white;
    color: #BC9CFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 22px;
    border: 2px solid #BC9CFF;
    width: 99px;
    height: 44px;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

.account-available {
    font-size: 14px;
    line-height: 18px;
    color: black;
}

.come-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-register {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
    margin-bottom: 20px;

}

