html
  head
    block title
    block styles
  body
    .container
      include ../components/header.pug 
      .authorization
        .authorization-container
          block content
      include ../components/footer.pug
      block scripts
