extends default.pug

block styles
    style
      include ../styles/pages/dist/signUp.css

block scripts 
  script(src='../scripts/signUp.js')


block content
  .content
    .account-registration 
      