.footer 
    .nav-footer
        ul.logo-footer
            li: a(href="#")
                img(src=" ../../img/Logo.svg", alt="vector")
            li: p Бронирование номеров в лучшем <br> отеле 2019 года по версии <br> ассоциации «Отельные взгляды»
        ul.navigation-footer 
            li: a.bold-nav-footer(href="#") Навигация
            li: a.color-monserat(href="#") О нас
            li: a.color-monserat(href="#") Новости
            li: a.color-monserat(href="#") Служба поддержки
            li: a.color-monserat(href="#") Услуги
        ul.about-us
            li: a.bold-nav-footer(href="#") О нас
            li: a.color-monserat(href="#") О сервисе
            li: a.color-monserat(href="#") Наша команда
            li: a.color-monserat(href="#") Вакансии
            li: a.color-monserat(href="#") Инвесторы
        ul.support-service
            li: a.bold-nav-footer(href="#") Служба поддержки
            li: a.color-monserat(href="#") Соглашения
            li: a.color-monserat(href="#") Сообщества
            li: a.color-monserat(href="#") Связь с нами
        ul.subscription
            li: a.bold-nav-footer(href="#") Подписка
            li: a.color-monserat(href="#"): p Получайте специальные<br>предложения и новости сервис
            li: label(for="") 
                    input.email(type="email" placeholder="Email")   
                    input.arrow-forward(type="image" src=" ../../img/arrow_forward.svg", alt="arrow_forward")                             
    .footer-bottom
        p.color-monserat Copyright © 2018 Toxin отель. Все права защищены.
        .socialnetwork
            a(href="https://twitter.com"): img(src=" ../../img/twitter.svg", alt="twitter")
            a(href="https://facebook.com"): img(src=" ../../img/facebook.svg", alt="facebook")
            a(href="https://instagram.com"): img(src=" ../../img/insta.svg", alt="insta")
            

