.header
    .logo
        img.vector(src=" ../../img/Vector.png", alt="vector")
        img.toxin(src=" ../../img/TOXIN.png", alt="toxin")
    ul.navigation 
        li: a.class-link О нас
        li: a.class-link Услуги
        li: a.class-link Вакансии
        li: a.class-link Новости
        li: a.class-link Соглашения
        li: button.button-nav.to-come-in  Войти
        li: button.button-nav.register Зарегестрироваться