.header
    a(href="#") 
        img(src=" ../../img/Logo.svg", alt="vector")
    .navigation-buttons   
        ul.navigation 
            li: a(href="#").class-link О нас
            li: a(href="#").class-link Услуги
            li: a(href="#").class-link Вакансии
            li: a(href="#").class-link Новости
            li: a(href="#").class-link Соглашения
        .buttons
            li:  button.to-come-in
                a(href="#") Войти
            li:  button.register
                a(href="#") Зарегистрироваться 
        