.header
    a(href="#") 
        img(src=" ../../img/Logo.svg", alt="vector")
    .navigation-buttons   
        ul.navigation 
            li: a(href="#").class-link О нас
            li: a(href="#").class-link.dropdown Услуги
            li: a(href="#").class-link Вакансии
            li: a(href="#").class-link Новости
            li: a(href="#").class-link.dropdown Соглашения
        .buttons
            a(href="#")
                button.to-come-in Войти
            a(href="#")
                button.register Зарегистрироваться 
        