
.card-container {
    width: 270px;
    height: 257px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    &:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 12px;}
}

.card-container img {
    border-radius: 4px 4px 0px 0px;
}

.card-bottom {
    padding: 20px;
}

.number {
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
}

.price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, .5);;
}

.luxe {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        top:29px;
        left: 0px;
        width: 230px;
        height: 1px;
        background-color:rgba(31, 32, 65, 0.1);
    }
}


.card-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.reviews {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
}

.img-container {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        top:72px;
        left: 242px;
        width: 8px;
        height: 8px;
        border-top:3px solid white;
        border-right:3px solid white;
        transform: rotate(45deg);
        cursor: pointer;
    }
    &::before {
        position: absolute;
        content: "";
        top:72px;
        left: 20px;
        width: 8px;
        height: 8px;
        border-top:3px solid white;
        border-right:3px solid white;
        transform: rotate(225deg);
        cursor: pointer;
    }
}

.span-container {
    position: absolute;
    top:132px;
    left: 215px;
    display: flex;
    flex-shrink: 0;
}

.circle-active {
   cursor: pointer;
    width: 7px;
    height: 7px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-right: 3.5px;
    flex-shrink: 0;
    display: block;
}

.circle-passive {
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    width: 7px;
    height: 7px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 3.5px;
}
