@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
    height: 70px;
    max-width:1440px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    font-family: Montserrat;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    background-color: white;
}

li {
    list-style-type: none;
}

.navigation {
    display: flex;
    align-items: center;
}

.buttons {
display: flex;
align-items: center;
}

.navigation-buttons {
    display:flex;
    justify-content: space-between;
}

.class-link {
    margin-right: 20px;
    text-decoration: none;
    color:rgba(31, 32, 65, 0.5);
}

.vector {
    margin-top:15px;
    margin-bottom: 15px;
    margin-right: 12.5px;
}

.to-come-in {
    background-color: white;
    color: #BC9CFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 22px;
    border: 2px solid #BC9CFF;
    width: 87px;
    height: 34px;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

.register {
    background-color: #BC9CFF;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 22px;
    width: 196px;
    height: 34px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
}

.toxin {
    margin:28px 0px 28px 0px
}

.buttons a:first-child {
    margin-right: 20px;
}
