extends ../layout/default.pug

block title
    title Номер

//- block styles
//-     style
//-       include ../styles/pages/dist/number.css

block scripts 
    script(src='./scripts/number.js')
    script(src='../components/dropdown/dropdown.js')

block content
    include ../components/dropdown/dropdown.pug
    .image-container
        .img-one
            img(src="../img/number1.png" alt="1")
        .img-two
            img(src="../img/number3.png" alt="3")
            img(src="../img/number2.png" alt="2")
    .information-container
        .details-number
            .intelligence-impression-container
                .intelligence-number 
                    h3.title-h3 Сведения о номере
                    .comfort
                        .img-intelligence-number
                            img(src="../img/comfort.svg" alt="comfort")
                        .container-intelligence-number
                            p.headline Комфорт 
                            p.description Шумопоглощающие стены
                    .convenience-location
                        .img-intelligence-number
                            img(src="../img/convenience of location.svg" alt="convenience of location")
                        .container-intelligence-number    
                            p.headline Удобство 
                            p.description Окно в каждой из спален
                    .cosiness
                        .img-intelligence-number
                            img(src="../img/cosiness.svg" alt="cosiness")
                        .container-intelligence-number
                            p.headline Уют 
                            p.description Номер оснащён камином
                .impression-number 
                    h3.title-h3 Впечатления от номера
                    .vote 
                        .number-vote
                            p.number 260
                            p.voice голосов
                            span.pseudo-element 
                        .rating-vote
                            ul.rating-ul 
                                li.fabulous Великолепно
                                li.good Хорошо
                                li.satisfactorily Удовлетворительно
                                li.disappointed Разочарован
            .reviews-number
                .title-review
                    h3.title-h3 Отзывы посетителей номера
                    p 2 отзыва
                .reviews 
                    .review1    
                        .review1-author
                            img.img-style(src="../img/author1.png" alt="author1")
                            .author-name-number-days
                                p.author-name Мурад Сарафанов
                                p.number-days 5 дней назад
                        .review1-comment
                            .likes-passive
                                .heart
                                p.number-hearts 12
                            p.comment Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.<br> И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто <br> не жаловался из соседей.
                    .review1
                        .review1-author
                            img.img-style(src="../img/author2.png" alt="author2")
                            .author-name-number-days
                                p.author-name Патрисия Стёклышкова
                                p.number-days Неделю назад
                        .review1-comment
                            .likes-passive
                                .heart
                                p.number-hearts 2
                            p.comment Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, <br> каждый день новое блюдо и десерт как комплимент
            .regulations-cancellation-container 
                .regulations
                    h3.title-h3 Правила
                    ul 
                        li.before-gray Нельзя с питомцами
                        li.before-gray  Без вечеринок и мероприятий
                        li.before-gray  Время прибытия — после 13:00, <br> а выезд до 12:00
                .cancellation
                    h3.title-h3 Отмена
                    p Бесплатная отмена в течение 48 ч. После <br> этого при отмене не позднее чем за 5 дн. до <br> прибытия вы получите полный возврат за <br> вычетом сбора за услуги.
        .price-number 
            .number-attributes  
                .number-luxury
                    p.numeric-number №888     
                    p.luxury ЛЮКС
                .price-per-day
                    p.price 9900₽
                    p.day в сутки
            .arrival-departure-container
                label.dropdown-calendar Прибытие
                    input.arrival-departure(type="text" placeholder="ДД.ММ.ГГГГ")
                label.dropdown-calendar Выезд
                    input.arrival-departure(type="text" placeholder="ДД.ММ.ГГГГ")     
            .content-max       
                +dropdown('Гости','Сколько гостей','Взрослые','Дети','Младенцы','guest') 
            .price-calculation
                .price-calculation-number 
                    p 9 990₽ х 4 суток
                    p 39 960₽
                .discount
                    p Сбор за услуги: скидка 2 179₽
                    p 0₽
                .additional-services
                    p Сбор за дополнительные услуги
                    p 300₽
                .total 
                    p.title-h3 Итого
                    p.title-h3 38081₽
            button.selection Забронировать



