.header
    a(href="./index.html") 
        img(src=" ../img/Logo.svg" alt="vector")
    .navigation-buttons   
        ul.navigation 
            li: a(href="#").class-link О нас
            li: a(href="#").class-link.dropdown Услуги
            li: a(href="#").class-link Вакансии
            li: a(href="#").class-link Новости
            li: a(href="#").class-link.dropdown Соглашения
            .buttons-active
                a(href="./signIn.html" )
                    button.to-come-in Войти
                a(href="./signUp.html" )
                    button.register Зарегистрироваться 
        .buttons
            a(href="./signIn.html" )
                button.to-come-in Войти
            a(href="./signUp.html" )
                button.register Зарегистрироваться 
    .container-burger 
        .bar1 
        .bar2 
        .bar3
