mixin checkbox(text, small, moreText)
    .checkbox-component-container
        if small
            .checkbox-passive
            p.one-may=text
        else    
            .availability-checkbox
                .checkbox-passive
                p.caption-checkbox=text
                p.explanation=moreText

