extends ../layout/default.pug

block styles
    style
      include ../styles/pages/dist/index.css

block scripts 
  script(src='../scripts/index.js')

block content
  .content
    .number-selection
      p Найдем номера под<br>ваши пожелания
      .arrival-departure-container
        label.dropdown-calendar Прибытие
          input.arrival-departure(type="text" placeholder="ДД.ММ.ГГГГ")
        label.dropdown-calendar Выезд
          input.arrival-departure(type="text" placeholder="ДД.ММ.ГГГГ")
      label.guests Гости
        input.guests-input(type="text" placeholder="Сколько гостей")
        .dropdown-menu
          .age Взрослые
            .dropdown-buttons    
              span.round-button -
              span 2
              span.round-button +
          .age Дети
            .dropdown-buttons  
              span.round-button -
              span 1
              span.round-button +
          .age Младенцы
            .dropdown-buttons
              span.round-button -
              span 0
              span.round-button +
          .clean-apply
            button.clean-apply-button Очистить
            button.clean-apply-button Применить
        button.selection Подобрать номер
    p.caption Лучшие номера для вашей работы,<br>отдыха и просто вдохновения
  
