extends ../layout/default.pug

block title
    title Главная страница

block styles
    style
      include ../styles/pages/dist/index.css

block scripts 
  script(src='../../components/dropdown/dropdown.js')

block content
  include ../components/dropdown/dropdown.pug
  .content
    .number-selection
      p Найдем номера под<br>ваши пожелания
      .arrival-departure-container
        label.dropdown-calendar Прибытие
          input.arrival-departure(type="text" value="ДД.ММ.ГГГГ")
        label.dropdown-calendar Выезд
          input.arrival-departure(type="text" value="ДД.ММ.ГГГГ")
      +dropdown()
      a(href="./numbers.html")
          button.selection Подобрать номер
    p.caption Лучшие номера для вашей работы,<br>отдыха и просто вдохновения