extends ../layout/default.pug

block title
    title Номера

block styles
    style
      include ../styles/pages/dist/numbers.css

block scripts 
    script(src='../scripts/numbers.js')
    script(src="../../components/checkbox/checkbox.js")
    script(src='../../components/dropdown/dropdown.js')

block content
    include ../components/checkbox/checkbox.pug
    include ../components/card/card.pug
    include ../components/dropdown/dropdown.pug
    .conteiner
        .button-menu
            label.title-text.arrow-date-guests Даты пребывания в отеле
                input.date-guests.date-stay(type="text" value="19 авг - 23 авг" readonly)
            +dropdown()
            //- label.title-text.arrow-date-guests Гости
            //-     input.date-guests.number-guests(type="text" value="3 гостя, 1 младенец" readonly)

            .filtres 
                .filtres_item.filtres_price 
                    h3.filtres_price_title Цена
                    input.slider(type="range" min="0" max="1000000" step="100")
                    .filtres_price_slider 
                    .filtres_price_inputs
                        label.filtres_price_label(for="") 
                            input.filtres_price_input(type="number"  min="0" value="0")
                            span р
                        label.filtres_price_label(for="") 
                            input.filtres_price_input(type="number"  min="0" value="5000")
                            span р
            p.price-range Стоимость за сутки пребывания в номере
            .checkbox
                p.title-text Правила дома
                    +checkbox('Можно курить', true)
                    +checkbox('Можно с питомцами', true)
                    +checkbox('Можно пригласить гостей (до 10 человек)', true)
            .availability 
                p.title-text Доступность
                +checkbox('Широкий коридор', false, 'Ширина коридоров в номере не менее 91 см')
                +checkbox('Помощник для инвалидов ', false, 'На 1 этаже вас встретит специалист и проводит до номера.')
            
            +dropdown('Гос')
            //- label.arrow-comfort.title-text Удобства номера
            //-     input.date-guests.big-margin.roma(type="text" value="2 спальни, 2 кровати..." )
            //-     .dropdown-menu-comfort
            //-         .facilities Спальни
            //-             .dropdown-buttons
            //-                 span.round-button.adults-minus(data-button="adult-minus") -
            //-                 span.adults-number 0
            //-                 span.round-button.adults-plus(data-button="adult-plus") +
            //-         .facilities Кровати
            //-             .dropdown-buttons  
            //-                 span.round-button.children-minus(data-button="childrens-minus") -
            //-                 span.children-number 0
            //-                 span.round-button.children-plus(data-button="childrens-plus") +
            //-         .facilities Ванные комнаты
            //-             .dropdown-buttons
            //-                 span.round-button.babies-minus(data-button="babies-minus") -
            //-                 span.babies-number 0
            //-                 span.round-button.babies-plus(data-button="babies-plus") +
            .more-comfort.title-text Дополнительные удобства
            .dropdown-checkbox 
                +checkbox('Завтрак', true)
                +checkbox('Письменный стол', true)
                +checkbox('Стул для кормления', true)
                +checkbox('Кроватка', true)
                +checkbox('Телевизор', true)
                +checkbox('Шампунь', true)
        .selection-numbers
            .h2 
                h2 Номера, которые мы для вас подобрали
            .card-numbers
                +card('../../img/img1.jpg', '888', true, '9990', 5, '145')
                +card('../../img/img2.png', '840', false, '9900', 4, '65')
                +card('../../img/img3.png', '980', true, '8500', 3, '35')
                +card('../../img/img4.png', '856', false, '7300', 5, '19')
                +card('../../img/img5.png', '740', false, '6000', 4, '44')
                +card('../../img/img6.png', '982', false, '5800', 3, '56')
                +card('../../img/img7.png', '678', false, '5500', 5, '45')
                +card('../../img/img8.png', '450', false, '5300', 4, '39')
                +card('../../img/img9.png', '350', false, '5000', 3, '77')
                +card('../../img/img10.png', '666', false, '5000', 5, '25')
                +card('../../img/img11.png', '444', false, '5000', 4, '15')
                +card('../../img/img12.png', '352', false, '5000', 3, '55')
            
            