extends ../layout/default.pug

block styles
    style
      include ../styles/pages/dist/signUp.css

block scripts 
  script(src='../scripts/signUp.js')


block content
  .content
    .account-registration 
      p.header-register Регистрация аккаунта
      .name
        label
          input.account-registration-input(type="text" value="Имя") 
        label
          input.account-registration-input(type="text" value="Фамилия") 
      .gender
        input.input-radio(type="radio" id="men")
        label.men(for="men") Мужчина
        input.input-radio(type="radio" id="woomen")
        label(for="woomen") Женщина
      .date-of-birth
        label.header-label  Дата рождения
          input.account-registration-input(type="text" value="ДД.ММ.ГГГГ") 
      .email-password 
        labelheader-label Данные для входа в сервис
          input.account-registration-input(type="text" value="Email") 
          input.account-registration-input(type="text" value="Пароль") 
      .special-offer
        .container-radio 
          .radio
        p Получать спецпредложения
      .register-container
        a(href="#")
          button.register-button Зарегистрироваться
      .come-in
        .account-available Уже есть аккаунт на Toxin
        .come-in-container
          a(href="#")
            button.to-come-in-button Войти