mixin dropdown()
    label.guests Гости
        input.guests-input(type="text" value="Сколько гостей" readonly)
        .dropdown-menu
          .age Взрослые
            .dropdown-buttons
              span.round-button.adults-minus(data-button="adult-minus") -
              span.adults-number 0
              span.round-button.adults-plus(data-button="adult-plus") +
          .age Дети
            .dropdown-buttons  
              span.round-button.children-minus(data-button="childrens-minus") -
              span.children-number 0
              span.round-button.children-plus(data-button="childrens-plus") +
          .age Младенцы
            .dropdown-buttons
              span.round-button.babies-minus(data-button="babies-minus") -
              span.babies-number 0
              span.round-button.babies-plus(data-button="babies-plus") +
          .clean-apply
            button.clean-apply-button.clean Очистить
            button.clean-apply-button.apply Применить
        //- a(href="./numbers.html")
        //-   button.selection Подобрать номер